body {
    font-family: 'Inter', sans-serif;
}

.hidden {
    display: none;
}

/* Style des boutons d'option */
.option-button {
    width: 100%;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.option-button:hover {
    transform: translateY(-3px);
}

/* Ajustement pour les petits écrans */
@media (max-width: 768px) {
    .option-button {
        font-size: 1.2rem;
        padding: 12px;
    }

    #quiz-container {
        padding: 16px;
    }
}

/* Animation d'apparition pour le quiz container */
#quiz-container {
    animation: fadeInUp 0.8s ease-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animation pour le score final */
#result-modal .bg-white {
    animation: zoomIn 0.5s ease-out forwards;
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Empêcher les délais tactiles sur mobile */
.option-button {
    touch-action: manipulation; /* Empêche le délai tactile de 300ms */
}
